all_orders_data
scraped_data
data_export
*.tar
*.zip
*.rar
*.sql
*.log
backups
data_dumps
_trash
tmp
coverage
test-results
playwright-report
logs
docs
.agent
.GEMINI
.gemini-clipboard
.swc
src/tests
src/generated
prisma/generated
.env
.env.*
!.env.example
#!node_modules
#!.next
.git
.github
.gitignore
.dockerignore
