node_modules
.next
out
build
dist
.git
*.log
# .env* (Allowed for server-side build)
!.env.example
.vscode
.dockerignore
Dockerfile
docker-compose*.yml
readme.md
LICENSE
tests
src/tests
*.tar
*.tar.gz
debug/
_trash/
backups/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.sh

TRASH/
deploy_lean/
scripts/all_orders_data/
src/generated/
