node_modules
.next
.DS_Store
*.log
dist
build
.env*
!.env.example

# Generated
src/generated
/coverage

# Temporary files & Trash
_trash
tmp
*.txt
*.log
*.mjs.map
*.js.map
*.tsbuildinfo

# Binary & Archives
*.tar
*.tar.gz
*.zip

# Local Data
vexboost.json
vexboost_services.json
analyze_vexboost.js
replace.js
test-error.js
npro-*.json
